HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS Specific ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Logs ###
logs/
*.log

### Security & Secrets ###
.env
application-secret.properties
application-secret.yml

### Media Saftey Net (videos or massive DB dumps) ###
*.mp4
*.mkv
*.avi
*.sql
*.csv

### macOS ###
.AppleDouble
DS_Store
.LSOverride